<div class="d-flex justify-content-center aligns-items-center flex-column">
    <h1 class="titulo text-center">Quem sou</h1>
    <div class="my-100" style="height:300px;">
        <strong>Este é um site criado por Felipe Bueno Zanardo durante as aulas de Angular no Bootstrap Santader - DIO</strong>
        <br>
        <p>Sou formado em Engenharia Elétrica pelo Centro Universitário da FEI.
            Estou em busca de novos desafios na minha vida profissional e por isso estou aprendendo esta ferramenta incrível que é o Angular.
            Este é o primeiro site feito exclusivamente por mim, apenas com base nas aulas assistidas e pesquisas.
        </p>
        <p class="my-100">Apenas a funcionalidade de compra ainda está em implementação.
            Tanto a parte do carrinho, quanto a parte do botão "comprar".
            O restante das funcionalidades está funcionamento.
        </p>
    </div>
</div>
